@import url("https://legendary-donut-99380b.netlify.app/basic-styles/basicStyles.css");

body {
    background-color: var(--main-bg);
    overflow-x: hidden;
}

.r {
    border: 1px solid red;
}

.pointer {
    cursor: pointer;
}

.button {
    color: var(--main-bg);
    padding: 5px 15px;
    background-color: var(--main-contrast);
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: var(--main-contrast-hover);
}