@import url("https://legendary-donut-99380b.netlify.app/basic-styles/basicStyles.css");

body {
    background-color: var(--background);
    overflow-x: hidden;
}

.r {
    border: 1px solid red;
}

.pointer {
    cursor: pointer;
}

.mainWidth {
    width: var(--main-width);
    margin: auto;
}
.midWidth {
    width: var(--mid-width);
    margin: auto;
}

.errorMessage {
    font-size: 18px;
    color: var(--error);
    text-align: center;
}

h1 {
    margin: 0;
}

.mainBoard {
    width: var(--main-width);
    background-color: var(--second-bg);
    border-radius: 20px;
    margin: auto;

}

.board {
    width: var(--mid-width);
    margin: auto;
}



.smallHeader .headerTop {
    width: 100%;
    height: 50vh;
    position: relative;
}
.smallHeader .headerTop h1 {
    font-size: 60px;
    font-family: 'IM Fell English SC', serif;
    color: var(--gold-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.smallHeader .headerTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.2;
}


